

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MAVEN";
  src: url("./commons/fonts/MavenPro-VariableFont_wght.ttf");
}

button.slick-arrow.slick-prev::before {
  z-index: 1000;
  color: blue;
}

button.slick-arrow.slick-next::before {
  z-index: 1000;
  color: blue;
}

