body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .fff{
  list-style-type:disc;
  color: #255FAB;
}

.fff::after {
  color: black;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MAVEN";

  src: url("./commons/fonts/MavenPro-VariableFont_wght.ttf");
}

button.slick-arrow.slick-prev::before {
  z-index: 1000;
  color: blue;
}

button.slick-arrow.slick-next::before {
  z-index: 1000;
  color: blue;
}

nav.side-navigation-panel {
  flex-wrap: nowrap;
  display: inline-block;
}

/* .cke_chrome{
  border-radius: 50px ;
  border: 1px solid #695656;
  border-width: thin;        
} */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* Resume style */
.btn-resume{
  margin-top: 20px;
}
.cover-action{
  float: right;
  padding-right: 10px;
}
.list-resume{
  height: 400px;
}

/* .active-link {
  color: black !important
} */
.swal-wide{
  font-family: maven !important;
}
